<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Mario commitkart</title>
</head>
<body>
    <header>

    </header>
    <main>
        <ul>
            <li>
                <h2>1</h2>
                <div>
                    <img src="/images/mario-placeholder.png" alt="">
                    <div>
                        <p><a href="/hoi">GwenVersteegh0610</a></p>
                        <p>45</p>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer>

    </footer>
</body>
</html>