@font-face {
    font-family: 'mario';
    src: url('../fonts/mario.ttf') format('truetype');
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'mario', arial;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/ba.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

main ul{
    width: 30vw;
    height: 100vh;
    padding: 1em;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);    
    border-radius: 0.5em;
    overflow: scroll;
}

main ul li{
    padding: 1em;
    background-color: grey;
    border: 2px solid rgb(105, 105, 105);
   
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-content: flex-start;
    align-items: center;
    
    margin-bottom: 1em;
    border-radius: 0.5em;
    position: relative;
}

main ul li:first-of-type{
    background-color: #d6ab36;
    border: 2px solid #F9DB94;
}

main ul li:nth-of-type(2){
    background-color: #adaca9;
    border: 2px solid #dfdcdc;
}

main ul li:nth-of-type(3){
    background-color: #af7a25;
    border: 2px solid #ca9f3b;
}

main ul li:nth-of-type(3)::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;

    position: absolute;
    bottom: -1.5em;
    left: 0;
}

main ul li:nth-of-type(4){
    margin-top: 3em;
}

/* plaats */
main ul li h2{
    font-size: 3.2em;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px -3px 0px white;
}

main ul li:first-of-type h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;


    background: -webkit-linear-gradient(#FFD634, #ED7B31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main ul li:nth-of-type(2) h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;

    background: -webkit-linear-gradient(#ffffff, #adaca9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main ul li:nth-of-type(3) h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;

    background: -webkit-linear-gradient(#fdd26d, #c28523);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main ul li h3{
    grid-column-start: 1;
    margin-top: 0.25em;
    text-shadow: 0px -1px 0px white;
}

main ul li h3 span{
    font-size: 2em;
}

main ul li > div:nth-of-type(2){
    width: calc(100% - 1em);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;   
    display: flex;
    padding: 0.5em;
    margin-left: 1em;
    grid-row-start: 1;
    grid-column-start: 2;
}

/* profielfoto */
main ul li img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

/*  naam en punten*/
main ul li > div div{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* naam */
main ul li div p a{
    text-size-adjust: auto;
    text-decoration: none;
    color: white;
}

 /* punten */
main ul li div div p:last-of-type {
    margin-top: 0.125em;
    font-size: 1em;
    background: -webkit-linear-gradient(#FFD634, #ED7B31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main ul li div div p span{
    font-size: 2.5em;
}


