@font-face {
    font-family: 'mario';
    src: url('../fonts/mario.ttf') format('truetype');
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'mario', arial;
}

html{
    position: relative;
}

header{
    position: absolute;
    top: 1em; left: 4em;
    z-index: 10;
}

header h1{
    font-size: 3.5em;
    /* letter-spacing: 5px; */
    background: -webkit-linear-gradient(#FFFFFF, #FF0000, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/ba.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

main div#baan{
    width: 43vw;
    height: 53vh;
    position: absolute;
    top: 22vh;
    left: 11vw;
}

main div#baan ul{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    list-style-type: none;
}

main div#baan ul li{
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 0;  
    left: 50vw;

    offset-path: path('M -516.07 18.03 c -141.37 21.86 -213.92 -49.76 -267.92 -13.76 c -21.79 28.62 -64 59 -54.76 152.72 c 2.37 77.3 -16.24 115.28 52.75 286.07 c 55 87.94 164 51.94 185 -38 c 20 -29 13 -84.06 41 -114.06 c 6 -12 45 -19 101 -9.06 c 53.24 8.72 67.24 107.72 103.24 165.72 c 22 23 62 40 111 18 c 78 0 105.76 -40.66 119.76 -114.66 c 9.76 -35.15 -5.08 -135.24 -10 -191 c -9.7 -34.5 -28.08 -98.11 -80 -128 c -66.07 -38.03 -116.12 19.26 -210.08 -12.24 Z');

    animation: move 5s linear;
    animation-iteration-count: 1;
    animation-play-state: running;
}

main div#baan ul li:first-of-type{
    animation-duration: 5s;
}

main div#baan ul li:nth-of-type(2){
    animation-duration: 5.2s;
}

main div#baan ul li:nth-of-type(3){
    animation-duration: 5.4s;
}

main div#baan ul li:nth-of-type(4){
    animation-duration: 5.6s;
}

main div#baan ul li:nth-of-type(4){
    animation-duration: 5.8s;
}
main div#baan ul li:nth-of-type(5){
    animation-duration: 6s;
}
main div#baan ul li:nth-of-type(6){
    animation-duration: 6.2s;
}
main div#baan ul li:nth-of-type(7){
    animation-duration: 6.4s;
}
main div#baan ul li:nth-of-type(8){
    animation-duration: 6.6s;
}
main div#baan ul li:nth-of-type(9){
    animation-duration: 6.8s;
}
main div#baan ul li:nth-of-type(10){
    animation-duration: 7s;
}
main div#baan ul li:nth-of-type(11){
    animation-duration: 7.2s;
}
main div#baan ul li:nth-of-type(12){
    animation-duration: 7.4s;
}
main div#baan ul li:nth-of-type(13){
    animation-duration: 7.6s;
}
main div#baan ul li:nth-of-type(14){
    animation-duration: 7.8s;
}
main div#baan ul li:nth-of-type(15){
    animation-duration: 8s;
}
main div#baan ul li:nth-of-type(16){
    animation-duration: 8.2s;
}
main div#baan ul li:nth-of-type(17){
    animation-duration: 8.4s;
}
main div#baan ul li:nth-of-type(18){
    animation-duration: 8.6s;
}
main div#baan ul li:nth-of-type(19){
    animation-duration: 8.8s;
}
main div#baan ul li:nth-of-type(20){
    animation-duration: 9s;
}

@keyframes move {
    0%{
        offset-distance: 0%;
    }
    47%{
        animation-play-state: paused;
    }
    100%{
      offset-distance: 100%;
    }
}

main div#baan ul li img{
    width: 100%;
    border-radius: 50%;
    transform: rotate(180deg);
}


/* -------------------- Ranking lijst -------------------- */
main > ul{
    width: 30vw;
    height: 100vh;
    padding: 1em;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);    
    border-radius: 0.5em;
    overflow: scroll;
}

main > ul h3{
    grid-column-start: 1;
    font-size: 3em;
    margin-top: 0.25em;
    width: 100%;
    text-align: center;

    background: -webkit-linear-gradient(#FFFFFF, #FF0000, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > ul li{
    padding: 1em;
    background-color: grey;
    border: 2px solid rgb(105, 105, 105);
   
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-content: flex-start;
    align-items: center;
    
    margin-bottom: 1em;
    border-radius: 0.5em;
    position: relative;
    transform: translateY(100vw);
    animation-name: komtevoorschijn;
    animation-duration:  1s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

main > ul li:nth-of-type(2){
    animation-delay: 5.1s;
}

main > ul li:nth-of-type(3){
    animation-delay: 5.2s;
}
main > ul li:nth-of-type(4){
    animation-delay: 5.3s;
}
main > ul li:nth-of-type(5){
    animation-delay: 5.4s;
}
main > ul li:nth-of-type(6){
    animation-delay: 5.5s;
}
main > ul li:nth-of-type(7){
    animation-delay: 5.6s;
}
main > ul li:nth-of-type(8){
    animation-delay: 5.7s;
}
main > ul li:nth-of-type(9){
    animation-delay: 5.8s;
}
main > ul li:nth-of-type(10){
    animation-delay: 5.9s;
}
main > ul li:nth-of-type(11){
    animation-delay: 6s;
}
main > ul li:nth-of-type(12){
    animation-delay: 6.1s;
}
main > ul li:nth-of-type(13){
    animation-delay: 6.2s;
}
main > ul li:nth-of-type(14){
    animation-delay: 6.3s;
}
main > ul li:nth-of-type(15){
    animation-delay: 6.4s;
}
main > ul li:nth-of-type(16){
    animation-delay: 6.5s;
}
main > ul li:nth-of-type(17){
    animation-delay: 6.6s;
}
main > ul li:nth-of-type(18){
    animation-delay: 6.7s;
}
main > ul li:nth-of-type(19){
    animation-delay: 6.8s;
}
main > ul li:nth-of-type(20){
    animation-delay: 6.9s;
}


@keyframes komtevoorschijn{
    0%{
        transform: translateY(100vw);
    }
    100%{
        transform: translateY(0);
    }
}

main > ul li:first-of-type{
    background-color: #d6ab36;
    border: 2px solid #F9DB94;
}

main > ul li:nth-of-type(2){
    background-color: #adaca9;
    border: 2px solid #dfdcdc;
}

main > ul li:nth-of-type(3){
    background-color: #af7a25;
    border: 2px solid #ca9f3b;
}

main > ul li:nth-of-type(3)::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;

    position: absolute;
    bottom: -1.5em;
    left: 0;
}

main > ul li:nth-of-type(4){
    margin-top: 3em;
}

/* plaats */
main > ul li h2{
    font-size: 3.2em;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px -3px 0px white;
}

main > ul li:first-of-type h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;

    background: -webkit-linear-gradient(#FFD634, #ED7B31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > ul li:nth-of-type(2) h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;

    background: -webkit-linear-gradient(#ffffff, #adaca9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > ul li:nth-of-type(3) h2{
    color: transparent;
    text-shadow: 1px -3px 0px transparent;

    background: -webkit-linear-gradient(#fdd26d, #c28523);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > ul li h3 span{
    font-size: 2em;
}

main > ul li > div:nth-of-type(2){
    width: calc(100% - 1em);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;   
    display: flex;
    padding: 0.5em;
    margin-left: 1em;
    grid-row-start: 1;
    grid-column-start: 2;
}

/* profielfoto */
main > ul li img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

/*  naam en punten*/
main > ul li > div div{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* naam */
main > ul li div p a{
    text-size-adjust: auto;
    text-decoration: none;
    color: white;
}

 /* punten */
main > ul li div div p:last-of-type {
    margin-top: 0.125em;
    font-size: 1em;
    background: -webkit-linear-gradient(#FFD634, #ED7B31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > ul li div div p span{
    font-size: 2.5em;
}

div#podium{
    position: absolute;
    width: 70vw;
    height: 100vh;
    top: 0; left: 0;
    background-image: url(/images/podium.png);
    background-size: auto 100%;
    background-repeat: no-repeat;

    z-index: 11;
    opacity: 0;
    animation-name: podium;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
}

@keyframes podium{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

div#podium ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
}

div#podium ul li{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#podium ul li p{
    font-size: 2em;
    text-shadow: 0px -2px white;
}

div#podium ul li img{
    width: 10vw;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

div#podium ul li:first-of-type{
    top: 27%;
    left: 47%;
}

div#podium ul li:nth-of-type(2){
    top: 41%;
    left: 10%;
}

div#podium ul li:nth-of-type(3){
    top: 41%;
    left: 72%;
}

